<div fxLayout="row" fxLayoutAlign="center center" >
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex=30% fxFlex.xs=100% >

        <div fxFlexAlign="end" >ujjwal</div>
        <div fxFlexAlign="end">ujjwal</div>
        <table style="width:100%">
            <tr>
            <th>
                <span >
                    <button color="primary" mat-fab  aria-label="Example icon button with a delete icon">
                        7
                    </button>
                </span>
            </th>
            <th>
                <span >
                    <button color="primary" mat-fab  aria-label="Example icon button with a delete icon">
                        8
                    </button>
                </span>
            </th>
            <th>
                <span >
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        9
                    </button>
                </span>
            </th>
            <th>
                <span >
                    <button mat-fab  aria-label="Example icon button with a delete icon">
                        /
                    </button>
                </span>
            </th>
            </tr>
            <tr>
                <th>
                <span >
                    <button mat-fab color="primary"  aria-label="Example icon button with a delete icon">
                        4
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        5
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        6
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab  aria-label="Example icon button with a delete icon">
                        *
                        </button>
                </span>
                </th>
            </tr>
            <tr>
                <th>
                <span >
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        1
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        2
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        3
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab  aria-label="Example icon button with a delete icon">
                        -
                        </button>
                </span>
                </th>
            </tr>

            <tr>
                <th colspan="2">
                <span >
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        0
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab  aria-label="Example icon button with a delete icon">
                        c
                        </button>
                </span>
                </th>
                <th>
                <span >
                    <button mat-fab  aria-label="Example icon button with a delete icon">
                        +
                        </button>
                </span>
                </th>
            </tr>
        </table>
    </div>
</div>
